:host {
    position: relative;
    flex-grow: 1;
}

table {
    box-sizing: border-box;
    width: 100%;
    outline-width: 0px;
    overflow-y: hidden;
    table-layout: fixed;
    border-spacing: 0px;
    position: absolute;
}

.highlight {
    background-color: lightgreen;
}

::ng-deep tr:focus {
    outline-color: red;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -1px;
}

::ng-deep table:focus tr.isCurrent {
    outline-color: red;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -1px;
}
