<app-table-view #tv [id]="'test'" class="tableContainer" [columns]="columns" 
    [itemHeight]="themes.itemHeight" [columnHeight]="themes.columnHeight"
    [itemType]="itemType" [items]="items" (onCurrentIndexChanged)="onCurrentIndexChanged($event)"
    (onSort)="onSort($event)">
    <ng-container *ngFor="let item of items | virtualList: (tv.scrollbar) | async">
        <tr class="pointer-def" [class.isCurrent]="item.isCurrent" [class.isSelected]="item.isSelected" 
            [class.isHidden]="item.isHidden">
            <td>
                {{item.displayName}}
            </td>
            <td>
                {{item.time}}
            </td>
            <td>
                {{item.size}}
            </td>
        </tr>
    </ng-container>
</app-table-view>
<div>
    <button (click)="onRoot()">Root</button>
    <button (click)="onC()">C:</button>
    <button (click)="onSystem32()">System32</button>
    <button (click)="onPics()">Pictures</button>
</div>
