:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
app-grid-splitter.first {
    display: flex;
    flex-grow: 2;
}
app-commander-view, .viewer {
    flex-grow: 1;
}

.viewer {
    flex-grow: 1;
}
.status {
    color: white;
    padding-top: 2px;
    padding-left: 5px;
    color: var(--selected-color);
    background-color: var(--selected-bg-color);
    height: 18px;
}