:host.blue-theme {
    --font-size: 75%;
    --itemColumnHeight: 16;
    --itemHeight: 18;
    --testItemHeight: 30;
    --font-family: Arial, Helvetica, sans-serif;
    --background-color: white;
    --color: black;
    --icon-color: darkgray;
    --selected-bg-color: blue;
    --selected-bg-hover-color: #0063ff;
    --selected-color: white;
    --separator-color: lightgray;
    --scrollbar-border-color: lightgray;
    --scrollbar-grip-color: rgb(209, 209, 209);
    --scrollbar-button-active-color: #aaa;
    --scrollbar-border-color: #eee;
    --scrollbar-image-color: #666;
    --scrollbar-grip-hover-color: #bbb;
    --scrollbar-grip-active-color: #999;
    --commander-item-hover: aliceblue;
    --grip-color: #f0f0f0;
}

:host.dark-theme {
    --font-size: 75%;
    --itemColumnHeight: 16;
    --itemHeight: 18;
    --testItemHeight: 30;
    --font-family: Arial, Helvetica, sans-serif;
    --background-color: rgb(37,37,38);
    --color: rgba(255, 255, 255, 0.85);
    --icon-color: lightgray;
    --selected-bg-color: blue;
    --selected-bg-hover-color: #0063ff;
    --selected-color: white;
    --separator-color: lightgray;
    --scrollbar-border-color: black;
    --scrollbar-button-hover-color: rgb(65, 63, 63);
    --scrollbar-button-active-color: rgb(90, 90, 90);
    --scrollbar-border-color: #eee;
    --scrollbar-image-color: #666;
    --scrollbar-grip-hover-color: #bbb;
    --scrollbar-grip-active-color: #999;

    --commander-item-hover: rgb(44, 44, 44);

    --grip-color: rgb(67,67,68);
}

:host.light-blue-theme {
    --font-size: 85%;
    --itemColumnHeight: 17;
    --itemHeight: 18;
    --testItemHeight: 32;
    --font-family: Arial, Helvetica, sans-serif;
    --background-color: white;
    --color: rgba(0, 0, 0, 0.75);
    --icon-color: darkgray;

    --selected-bg-color: rgb(0, 122, 204);
    --selected-bg-hover-color: #0063ff;
    --selected-color: white;

    --separator-color: lightgray;

    --menu-color: rgba(255, 255, 255, 0.85);
    --menu-background-color: rgb(243, 243, 243);
    --menu-hover-color: rgba(0, 0, 255, 0.2);
    --menu-item-hover-color: rgba(0, 0, 255, 0.2);
    --menu-selected-background-color: rgb(0, 122, 204);
    --menu-selected-color: white;

    --scrollbar-border-color: lightgray;
    --scrollbar-button-hover-color: #ddd;
    --scrollbar-button-active-color: #aaa;
    --scrollbar-border-color: #eee;
    --scrollbar-image-color: #666;
    --scrollbar-grip-hover-color: #bbb;
    --scrollbar-grip-active-color: #999;
    
    --commander-item-hover: #e2e0f5;

    --grip-color: #dcdcdc;
}

:host.ubuntu-theme {
    --icon-color: darkgray;
    --font-family: Arial, Helvetica, sans-serif;
    --itemColumnHeight: 17;
    --itemHeight: 18;
    --font-size: 85%;
    --menu-color: rgba(255, 255, 255, 0.85);
    --menu-background-color: rgb(67,67,68);
    --menu-hover-color: rgb(85,85,85); 
    --menu-item-hover-color: #f07746;
    --menu-selected-background-color: rgb(85,85,85); 
    --menu-selected-color: white;
}

:host {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--color);
    font-family: var(--font-family);
    font-size: var(--font-size);
}
