<!-- <app-icon-view></app-icon-view>  -->
<app-getfiles></app-getfiles> 
<!-- <app-test-columns></app-test-columns> -->
<!-- <app-test-scrollbar></app-test-scrollbar> -->
<!-- <app-test-table-view></app-test-table-view> -->
<!-- <app-commander-view-test></app-commander-view-test> -->
<!-- <grid-splitter-test></grid-splitter-test> -->
<!-- <test-dialog [dialog]="dialog"></test-dialog> -->
<!-- <app-viewer-test></app-viewer-test> -->

<!-- <app-commander [dialog]="dialog"></app-commander> -->
<app-dialog #dialog></app-dialog>



