:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.red, .blue, .yellow, .green {
    flex-grow: 1;
}
.red {
    background-color: palevioletred;
    flex-grow: 1;        
}
.blue {
    background-color: powderblue;
    flex-grow: 1;
}
.yellow {
    background-color: yellow;
    flex-grow: 2;
}
.green {
    background-color: green;
    flex-grow: 1;
}
button {
    margin: 10px;
}
