body {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    background-color: var(--background-color);
    color: var(--color);
}

input {
    background-color: var(--background-color);
    color: var(--color);
}

.pointer-def {
    cursor: default;
}

.hidden {
    display: none !Important;
}

svg .path {
    fill: darkgray;
}

tr.isSelected svg .path {
    fill: white;
}