:host {
    width: 100vw;
    display: flex;
    height: 100vh;
}

app-commander-view {
    margin: 20px;
    width: 100vw; 
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
}